In [1]:
import pandas as pd

# stops.csv

Each row is an instance of a bus arriving at a stop.

Columns:

**DATE**: the date at which the stop occurs

**DID**: direction of the bus; I = inbound, O = outbound

**ROUTE**: route that the bus stops on

**SID**: stop id

**TIME**: timestamp of the stop

**VID**: vehicle id

**timestamp**: date + time of the stop

In [3]:
pd.read_csv('./desktop/opentransit-metrics/mykelu/stops.csv').head()

,DATE,DID,ROUTE,SID,TIME,VID,timestamp
0,2018-11-12,12___O_F00,12,7941,1.542010e+09,8776,2018-11-12 08:00:13-08:00
1,2018-11-12,12___O_F00,12,6328,1.542010e+09,8728,2018-11-12 08:00:13-08:00
2,2018-11-12,14___I_F00,14,5610,1.542010e+09,7283,2018-11-12 08:00:13-08:00
3,2018-11-12,14___I_F00,14,5582,1.542010e+09,7283,2018-11-12 08:00:13-08:00
4,2018-11-12,14___I_F00,14,5586,1.542010e+09,7283,2018-11-12 08:00:13-08:00

# wait_times.csv

Each row is the wait time at a particular stop at a particular time (other filters, such as the route and direction, are possible).

Columns:

**DATE**: the date of the wait time

**SID**: stop id

**TIME**: the time at which the wait time begins

**WAIT**: the amount of time, in seconds, it takes until a bus arrives

In [4]:
pd.read_csv('./desktop/opentransit-metrics/mykelu/wait_times.csv').head()

         DATE   SID      TIME   WAIT
0  2018-11-12  3011  08:00:00  359.0
1  2018-11-12  3013  08:00:00  239.0
2  2018-11-12  3082  08:00:00  719.0
3  2018-11-12  3084  08:00:00  779.0
4  2018-11-12  3087  08:00:00  599.0